<div class="ten columns offset-by-one bg-black-05 margin-top">
  <h3 class="titleBar">All Available Trips</h3>
  <!-- renders data from invitations.js -->
  <div class="ten columns offset-by-one">
    <ul id="trips-ul">
    </ul>
  </div>
</div>
