<h3>Create a trippy trip for your fraynds</h3>
<%= form_for(@trip) do |form| %>
   <%= render form %>
  <div class="actions">
    <%= form.submit "Create" %>
  </div>
<% end %>

<%= button_to 'Cancel', user_path(current_user.id), method: :get %>
